/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

.clear {
	clear:both;
}
.header {
	margin-top:2%;
	width:100%;
	text-align:center;
}
.header h1 {
	font-family: 'Open Sans', sans-serif;
	line-height:25px;
	text-transform:uppercase;
	color:grey;
}
.content{
	width:90% !important;
    height: auto !important;
    max-width: 600px !important;
	margin:3% auto 0 auto;
	height:460px;
}
.content1 {
	background-color:#0091d0;
	text-align:center;
	padding:2em;
}
.content1 h2 {
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	margin:0;
	color:#fff;
}
.content2 {
	background-color:#00aee6;
}
.content2-header1 {
	float:left;
	width:27%;
	text-align:center;
	padding:1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content2-header1 p {
    display: block;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:700;
	color:#fff !important;
	margin:0;
}
.content2-header1 span {
    display: block;
	font-size:14px;
	font-weight:400;
	color:#fff !important;
}

.status_container {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.status_box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.status_box p {
	margin: 0px !important;
}
.status_line {
	display: none;
}
.status_line_pc {
	margin-bottom: 25px;
	flex-grow: 1;
	height: 4px;
	background: #080;
}

.data_header {
	width: 100%;
	margin-bottom: 0px !important;
	padding: 1em;
	background-color: #0091d0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
.data_header h2 {
	text-align: center;
	margin-bottom: 0px !important;
	color: #fff !important;
	font-size:22px;
	word-break: break-all;
}

.data_info {
	width: 100%;
	min-height: 150px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background: #00aee6;
}
.data_info div {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.data_info p, .data_info span {
	display: block;
	margin-bottom: 0px !important;
	color: #fff;
}
.data_info p {
	font-size: 1rem;
	font-weight: 700;
}
.data_info span {
	font-size: 15px;
	font-weight: 400;
}

@media (max-width: 912px) {
	.data_info div {
		width: 50%;
	}
}

@media (max-width: 512px) {
	.status_container {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-left: calc(50% - 55px);
	}
	.status_box {
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
	.status_line {
		position: absolute;
		display: block;
		background: #080;
		width: 4px;
		height: 18px;
		top: 62px;
		left: 35px;
	}
	.status_line_pc {
		display: none;
	}
	.data_info div {
		width: 100%;
		margin-bottom: 1rem;
	}
	.data_header h2 {
		font-size: 16px;
	}
}

.imgcircle2 {
	margin: 0.5rem;
	height:55px;
	width:55px;
	border-radius:50%;
	background-color:#F5998E;
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imgcircle2 img {
	height:35px;
	width:35px;
}
.shipment {
	width:100%;
	margin-top:10%;
}
.confirm{
	text-align:center;
	width:20%;
	position:relative;
	float:left;
	margin-left:5%;
}
.confirm .imgcircle , .process .imgcircle, .quality .imgcircle {
	background-color:#0091d0;
}
.status_box .status_line {
	background-color:#0091d0; 
}
.content3 p {
	margin-left:-50%;
	font-size:15px;
	font-weight:600;
} 
.imgcircle {
	height:55px;
	width:55px;
	border-radius:50%;
	background-color:#F5998E;
	position:relative;
}
.imgcircle img {
	height:20px;
	position:absolute;
	top: 28%;
	left: 30%;
}
.process{
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.quality {
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.dispatch{
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.delivery{
	position:relative;
	width:20%;
	text-align:center;
	float:left;
	margin-right:-9%;
}
.footer a, a:active {
	color:grey;
	text-decoration:none;
	font-family: 'Tahoma', sans-serif;
}
.footer a:hover {
	color:#00c4ff;
	text-decoration:none;
	transition:all 0.5s ease-in-out;
}
.footer {
	margin-top:3%;
	text-align:center;
	font-weight:100;
}
.footer p {
	color:grey;
	font-size:15px;
	font-family: 'Tahoma', sans-serif;
	line-height:25px;
}

/*---- responsive-design -----*/
@media(max-width:1920px){
	.shipment{
		margin-top:6%;
	}
.content3 p{
margin-left:-65%;
}
}

@media(max-width:1680px){
	.content3 p {
    margin-left: -60%;
}
}



@media (max-width: 1080px){
.content {
width: 75%;
}
}


@media (max-width: 1024px){
	.content{
		width:77%;
	}
	.content3 p {
		font-size:14px;
	}
}

@media (max-width: 991px){
	.content {
    width: 80%;
}
}

@media (max-width: 900px){
.content {
    width: 85%;
}
}

@media (max-width: 800px){
.content {
    width: 95%;
}
.content2-header1 p {
	margin: 0 0 0 -7%;
}
}

@media (max-width: 768px){
	.content {
    width: 90%;
}
.content2-header1 {
	width: 25%;
}
.content2-header1 p {
    margin: 0 -19% 0 -10%;
}
}


@media (max-width: 667px){
	.content2-header1 p {
	font-size:14px;
	}
	.content2-header1 span {
    font-size: 13px;
}
.shipment {
    margin-top: 13%;
}
.content3 p {
    font-size: 12px;
	margin-left: -35%;
}
.confirm{
	margin-left:4%;
}
}

@media (max-width: 600px){
	.content1 {
		padding:1.2em;
	}
.content2-header1 p {
    font-size: 13px;
}
.content2-header1 span {
    font-size: 12px;
}
.content2-header1 {
    width: 24%;
}
.imgcircle {
    height: 65px;
    width: 65px;
}
.imgcircle img{
	top: 26%;
    left: 27%;
}
.content3 p {
	margin-left: -38%;
	font-size:11px;
}
.content {
	height: 395px;
}
}

@media (max-width: 568px){
	.content{
		height:380px;
}
	.content1{
	padding: 1em;
}
	.content2-header1 {
    width: 23%;
}
	.imgcircle {
    height: 50px;
    width: 50px;
}
	.imgcircle img {
    height: 25px;
    top: 27%;
    left: 25%;
}
	.content3 p {
    font-size: 10px;
    margin-left: -46%;
}
	.confirm {
    margin-left: 5%;
}
}

@media (max-width: 414px){
	.header {
    margin-top: 8%;
}
	.content {
    width: 70%;
	height:750px;
	margin-top:9%;
	padding:10%;
}
	.content1 {
	margin: -14% 0 0 -14%;
	width:116%;
}
	.content1 h2 {
	font-size:22px;
}
	.content2 {
    margin-left: -14%;
	width: 127.5%;
}
	.content2-header1 {
	padding:0.7em;
    width: 80%;
}
	.content2-header1 p {
    font-size: 19px;
}
	.content2-header1 span {
    font-size: 16px;
}
	.confirm {
	width:100%;
}
	.process {
	width:100%;
	margin: 22% 0 0 5%;
}
	.quality{
	width:100%;
	margin: 22% 0 0 5%;
}
	.dispatch{
	width:100%;
	margin: 22% 0 0 5%;
}
	.delivery{
	width:100%;
	margin: 22% 0 0 5%;
}
	.imgcircle {
    height: 50px;
    width: 50px;
	margin-left: 35%;
}
	.imgcircle img {
    height: 20px;
    top: 27%;
    left: 28%;
}
	.content3 p {
    font-size: 15px;
    margin: -16% 0 4% -81%;
}
	.shipment {
    margin-left: 16%;
}
	.footer {
	padding:1%;
}
	.footer p {
	font-size:16px;
}
}

@media (max-width: 384px){
	.header {
    margin-top: 9%;
}
	.content1 {
	width:115%;
}
	.content1 h2 {
    font-size: 21px;
}
	.content3 p {
    margin: -18% 0 6% -85%;
}
	.shipment {
    margin-top: 15%;
}
	.content {
    height: 770px;
}
	.footer {
    padding: 3%;
}
	.footer p {
    font-size: 15px;
}
}

@media (max-width: 375px){
	.content {
    height: 755px;
	width:68%;
}
	.content2{
	width:128%;
}
	.content1 h2 {
    font-size: 19px;
}
	.content3 p {
    margin: -18% 0 8% -86%;
}
	.shipment {
		margin-left: 17%;
	}
}

@media (max-width: 320px){
	.header {
    margin-top: 10%;
}
	.content{
	width:66%;
	margin-top: 10%;
	padding:12%;
    height: 709px;
}
	.content1 {
    padding: 0.7em;
	width:125%;
	margin:-18% 0 0 -18%;
}
	.header h1{
	font-size:30px;
}
	.content2 {
	margin-left: -18%;
	width: 136.5%;
}
	.content1 h2 {
    font-size: 16px;
}
	.content2-header1 span {
    font-size: 15px;
}
	.content3 p {
    margin: -23% 0 12% -99%;
}
	.shipment {
	margin: 16% 0 0 19%;
}
	.footer {
	margin-top: 1%;
}
	.footer p {
    font-size: 14px;
}
}

#track_info {
    border: 1px dashed #333;
	background: #fff;
    margin: 1rem;
	padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.content {
	padding: 0rem !important;
    margin: 0px !important;
	width: 100% !important;
}
.shipment {
	display: flex;
	justify-content: center;
}
@media (max-width: 414px){
	.shipment {
		display: block;
	}
}
.content2-header1 p {
	font-size: 1rem !important;
}